In [1]:
import pandas as pd
import numpy as np
import operator
from itertools import islice

In [2]:
#Files to name and read
zones = pd.read_csv('zones.csv')
trips = pd.read_csv('trips.csv')
bird_map = pd.read_csv('bird.csv', skiprows=1)
lime_map = pd.read_csv('lime.csv', skiprows=1)
#spin_map = pd.read_csv('spin.csv', skiprows=1)

#Create pivot table of zones.csv for readability
table = pd.pivot_table(zones, values='average_total_count', index='date', columns=['operator', 'shape_name'])

In [3]:
#Insert 'Bird Total' and 'Lime Total' columns to table
table['Bird Total'] = table.iloc[:, 0:4].sum(axis=1)
table['Lime Total'] = table.iloc[:, 4:8].sum(axis=1)
#table['Spin Total'] = table.iloc[:, 8:12].sum(axis=1)

#Get total operator vehicles in access zones for the week and total operator vehicles overall 
birdTotal = table['Bird Total'].sum()
birdAZTotal = table['bird']['Access Zone'].sum()

limeTotal = table['Lime Total'].sum()
limeAZTotal = table['lime']['Access Zone'].sum()

#spinTotal = table['Spin Total'].sum()
#spinAZTotal = table['spin']['Access Zone'].sum()

table

operator          bird                                     \
shape_name Access Zone High Utilization Zone NOT_IN_SHAPE
date
2022-08-01       96.35                629.98          0.0
2022-08-02      105.59                644.51          0.0
2022-08-03      108.88                627.35          0.0
2022-08-04      117.33                630.27          0.0
2022-08-05      148.10                593.97          0.0
2022-08-06      102.43                627.69          0.0
2022-08-07      127.60                548.22          0.0

operator                               lime                        \
shape_name Rest of Indianapolis Access Zone High Utilization Zone
date
2022-08-01               259.12       79.76                327.77
2022-08-02               337.52       74.10                361.45
2022-08-03               325.07       75.86                351.16
2022-08-04               341.79       76.22                342.39
2022-08-05               340.43       68.40                325.48
2022-08-06               321.84       74.91                293.13
2022-08-07               390.65       72.84                243.80

operator                                         veoride  \
shape_name NOT_IN_SHAPE Rest of Indianapolis Access Zone
date
2022-08-01          0.0               313.95        0.00
2022-08-02          0.0               302.83        0.00
2022-08-03          0.0               318.43        0.33
2022-08-04          0.0               309.55        1.29
2022-08-05          0.0               325.60        4.98
2022-08-06          0.0               353.35       16.65
2022-08-07          0.0               396.30       20.00

operator                                                           Bird Total  \
shape_name High Utilization Zone NOT_IN_SHAPE Rest of Indianapolis
date
2022-08-01                   0.0          0.0                  0.0     985.45
2022-08-02                   0.0          0.0                  0.0    1087.62
2022-08-03                   0.0          0.0                  0.0    1061.30
2022-08-04                   0.0          0.0                  0.0    1089.39
2022-08-05                   0.0          0.0                  0.0    1082.50
2022-08-06                   0.0          0.0                  0.0    1051.96
2022-08-07                   0.0          0.0                  0.0    1066.47

operator   Lime Total
shape_name
date
2022-08-01     721.48
2022-08-02     738.38
2022-08-03     745.45
2022-08-04     728.16
2022-08-05     719.48
2022-08-06     721.39
2022-08-07     712.94

In [4]:
#Get total operator trips for the week
totalBirdTrips = trips['bird'].sum()
totalLimeTrips = trips['lime'].sum()
#totalSpinTrips = trips['spin'].sum()

#Calculate average vehicle count for each operator
birdAvgVehicles = round(table['Bird Total'].mean(), 2)
limeAvgVehicles = round(table['Lime Total'].mean(), 2)
#spinAvgVehicles = round(table['Spin Total'].mean(), 2)

#Calculate MUR for each operator
birdMUR = round(totalBirdTrips / (birdTotal - birdAZTotal), 2)
limeMUR = round(totalLimeTrips / (limeTotal - limeAZTotal), 2)
#spinMUR = round(totalSpinTrips / (spinTotal - spinAZTotal), 2)

#Get AZ% and HUZ% for each company from 'lime', 'bird', and 'spin' files
birdAZ = round(bird_map['percent'][0], 2)
birdHUZ = round(bird_map['percent'][1], 2)

limeAZ = round(lime_map['percent'][0], 2)
limeHUZ = round(lime_map['percent'][1], 2)

#spinAZ = round(spin_map['percent'][0], 2)
#spinHUZ = round(spin_map['percent'][1], 2)

#Create dataframe out of dictionary of distributions
d = {'': ['Bird', 'Lime', 'Spin'], 
     'Vehicle Count': [birdAvgVehicles, limeAvgVehicles, """spinAvgVehicles"""], 
     'MUR': [birdMUR, limeMUR, """spinMUR"""], 
     'AZ%': [birdAZ, limeAZ, """spinAZ"""], 
     'HUZ%': [birdHUZ, limeHUZ, """spinHUZ"""]}

distributions = pd.DataFrame(data=d).set_index('')

#Final result
distributions

        Vehicle Count      MUR     AZ%     HUZ%

Bird          1060.67     1.91   10.82    57.92
Lime           726.75     2.84   10.26    44.13
Spin  spinAvgVehicles  spinMUR  spinAZ  spinHUZ